<section
  class="faq-page-new faq-page"
  data-section-id="{{- section.id -}}"
>
  <div class="faq-page__container">
    <div class="faq-page__main">
      <div class="accordion faq-page__content js-accordion-container js-animate">
        {% for block in section.blocks %}
          <div
            id="content-{{- block.id -}}"
            class="accordion__content accordion__content--animate faq-page__item-content js-accordion-content"
            style="height: 0;"
            role="region"
            aria-labelledby="control-{{- block.id -}}"
          >
            <div
              style="display:grid; padding:20px 0px; grid-template-columns:repeat({{section.settings.grid}}, 1fr); gap:10px"
            >
              {% if block.settings.image != blank %}
                <div style="max-height:200px overflow:hidden">
                  <img
                    style="width:100%; height:100%; object-fit:contain"
                    src="{{ block.settings.imageimage_1 | image_url}}"
                    height=""
                    width=""
                  >
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{%- schema -%}
{
  "name": "Page Image Grid",
  "settings": [
    {
      "type": "number",
      "id": "grid",
      "label": "Image Grid",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page Image Grid",
      "category": "Custom"
    }
  ]
}
{%- endschema -%}
